<footer id="footer" class="f-cf">
  <%= theme.mail %>
  <% if (theme.social) { %>
    <% _.forEach(theme.social, function(value, key) { %>
      <% if (value) { %>
        · <a href="<%= url_for(value) %>" target="_blank" class="nav-icn"><%= key %></a>
      <% } %>
    <% }); %>
  <% } %>
  <span class="copyright"><%= theme.copyright %></span>
  <div>
    <div style="float: left">
      <div>
        <span style="margin-right: 20px">ICP主体备案号</span><span>粤ICP备17099046号</span>
      </div>
      <div>
        <span style="margin-right: 20px">网站备案号</span><span>粤ICP备17099046号-1</span>
      </div>
    </div>
    <div style="float: right">
      <div>
        <span>Copyright</span>
        <span style="margin-right: 10px">©</span>
        <span>MyWeb詹</span>
      </div>
    </div>
  <div>
</footer>
